$black:             #212129;
$light-black:       rgba(35, 35, 41, 0.80);
$white:             #ffffff;
$grey:              rgb(150, 150, 150);
$tan:               #F7F5F3;
$dark-tan:          #d4cec9;
$light-tan:         #f1e9e3;
$green:             #32795e;
$pink:              rgba(#d5a8a8, 0.80);
$light-pink:        #ffd6d6;
$grey:              #edf3f3;
$peach:             #fbe7d3;
$orange:            #FF9800;
$red:               #DC1928;

$display-regular: 'Display-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$display-medium: 'Display-Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$display-bold-100: 'Display-Bold-100', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$display-bold-200: 'Display-Bold-200', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$display-bold: 'Display-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

$text-bold: 'Text-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$text-medium: 'Text-Medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$text-regular: 'Text-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$text-light: 'Text-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

$ease: cubic-bezier(0.77, 0, 0.18, 1);
$smooth: cubic-bezier(.23, 1, .32, 1) 0ms;

$padding: 1rem;
