.pa1{
  padding: $padding;
}
.pa2{
  padding: $padding * 2;
}

.pt1{
  padding-top: $padding;
}
.pt2{
  padding-top: $padding * 2;
}
.pt10{
  padding-top: $padding * 10;
}
.pt20{
  padding-top: $padding * 20;
}

.pb1{
  padding-bottom: $padding;
}
.pb2{
  padding-bottom: $padding * 2;
}
.pb200{
  padding-bottom: $padding * 20;
}

.pb200-ns{
  @include breakpoint(sm){
    padding-bottom: $padding * 20;
  }
}

.pr1{
  padding-right: $padding;
}
.pr2{
  padding-right: $padding * 2;
}

.pl1{
  padding-left: $padding;
}
.pl2{
  padding-left: $padding * 2;
}

.ph1{
  padding-left: $padding * 2;
  padding-right: $padding * 2;
  @include breakpoint(sm){
    padding-left: $padding * 3;
    padding-right: $padding * 3;
  }
  @include breakpoint(md){
    padding-left: $padding * 4;
    padding-right: $padding * 4;
  }
  @include breakpoint(lg){
    padding-left: $padding * 5;
    padding-right: $padding * 5;
  }
}

.pv1{
  padding-top: $padding * 2;
  padding-bottom: $padding * 2;
  @include breakpoint(sm){
    padding-top: $padding * 3;
    padding-bottom: $padding * 3;
  }
  @include breakpoint(md){
    padding-top: $padding * 4;
    padding-bottom: $padding * 4;
  }
  @include breakpoint(lg){
    padding-top: $padding * 10;
    padding-bottom: $padding * 10;
  }
}

.pv2{
  padding-top: $padding * 4;
  padding-bottom: $padding * 4;
  @include breakpoint(sm){
    padding-top: $padding * 6;
    padding-bottom: $padding * 6;
  }
  @include breakpoint(md){
    padding-top: $padding * 8;
    padding-bottom: $padding * 8;
  }
  @include breakpoint(lg){
    padding-top: $padding * 12;
    padding-bottom: $padding * 12;
  }
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.db{
  display: block;
}

.dib{
  display: inline-block;
}

.bg-white{
  background-color: $white;
}

.bg-tan{
  background-color: $tan;
}

.bg-dark-tan{
  background-color: $dark-tan;
}

.bg-grey{
  background-color: $grey;
}

.bg-pink{
  background-color: $pink;
}

.bg-peach{
  background-color: $peach;
}

.bg-light-pink{
  background-color: $light-pink;
}

.t-center{
  text-align: center;
}

.mobile-display{
  display: block;
}

.mobile-display-none{
  display: none;
  @include breakpoint(md) {
    display: block;
  }
}
