@charset 'utf-8';

// Telstra-Sans-Display - Light
@font-face {
    font-family: 'Display-Light';
    src: url('~assets/fonts/Telstra-Sans/TelstraDisplay-2_0-Light.woff2') format('woff2'), url('~assets/fonts/Telstra-Sans/TelstraDisplay-2_0-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Telstra-Sans-Display - Regular
@font-face {
    font-family: 'Display-Regular';
    src: url('~assets/fonts/Telstra-Sans/TelstraDisplay-2_0-Regular.woff2') format('woff2'), url('~assets/fonts/Telstra-Sans/TelstraDisplay-2_0-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Telstra-Sans-Display - Medium
@font-face {
    font-family: 'Display-Medium';
    src: url('~assets/fonts/Telstra-Sans/TelstraDisplay-2_0-Medium.woff2') format('woff2'), url('~assets/fonts/Telstra-Sans/TelstraDisplay-2_0-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Telstra-Sans-Display - Bold 100 190617
@font-face {
    font-family: 'Display-Bold';
    src: url('~assets/fonts/Telstra-Sans/TelstraDisplay-2_0-Bold.woff2') format('woff2'), url('~assets/fonts/Telstra-Sans/TelstraDisplay-2_0-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Telstra-Sans-Text - Bold
@font-face {
    font-family: 'Text-Bold';
    src: url('~assets/fonts/Telstra-Sans/TelstraText-2_0-Bold.woff2') format('woff2'), url('~assets/fonts/Telstra-Sans/TelstraText-2_0-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Telstra-Sans-Text - Medium
@font-face {
    font-family: 'Text-Medium';
    src: url('~assets/fonts/Telstra-Sans/TelstraText-2_0-Medium.woff2') format('woff2'), url('~assets/fonts/Telstra-Sans/TelstraText-2_0-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Telstra-Sans-Text - Regular
@font-face {
    font-family: 'Text-Regular';
    src: url('~assets/fonts/Telstra-Sans/TelstraText-2_0-Regular.woff2') format('woff2'), url('~assets/fonts/Telstra-Sans/TelstraText-2_0-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Telstra-Sans-Text - Light
@font-face {
    font-family: 'Text-Light';
    src: url('~assets/fonts/Telstra-Sans/TelstraText-2_0-Light.woff2') format('woff2'), url('~assets/fonts/Telstra-Sans/TelstraText-2_0-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// ==========================================================================
// $Base
// ==========================================================================
@import 'base/index';

* {
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: inherit;
    box-sizing: border-box;
    border: none;
    color: inherit;
    appearance: none;
    border-radius: 0;

    &:focus {
        outline: 0;
    }
}

/* Base Styles */
// :root {
//   font-size: 62.5%;
//   body {
//     margin: 0;
//     font-size: 1.6rem;
//   }
// }

html,
body {
    height: 100%;
}

body {
    font-family: $text-regular;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    color: $black;
}

.display-bold {
    font-family: $display-bold;
}

.display-medium {
    font-family: $display-medium;
}

.display-regular {
    font-family: $display-regular;
}

.display-light {
    font-family: $display-light;
}

.text-bold {
    font-family: $text-bold;
}

.text-medium {
    font-family: $text-medium;
}

.text-regular {
    font-family: $text-regular;
}

.text-light {
    font-family: $text-light;
}

// ==========================================================================
// $Components
// ==========================================================================

@import 'components/index';